.root {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: Helvetica Neue, Arial, sans-serif;
}

/* Повтор селектора @keyframes rotation*/

@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* повторяющийся селектор .two-columns*/

.two-columns {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

/* повторяющийся селектор .two-columns__brief*/

.two-columns__brief {
    width: 175px;
    color: #2f80ed;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

/* повторяющийся селектор .two-columns__main-text*/

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    color: black;
}

/* повторяющийся селектор .two-columns__paragraph*/

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: normal;
}

/* повторяющийся селектор .two-columns__paragraph:last-child*/

.two-columns__paragraph:last-child {
    margin-bottom: 0;
}

/* повторяющийся селектор .two-columns__span-accent*/

.two-columns__span-accent {
    font-weight: bold;
}

/* повторяющийся селектор section-title*/

.section-title {
    width: 60%;
    font-size: 60px;
    margin: 100px auto 0;
    line-height: 1.15;
    font-weight: bold;
    text-align: center;
}

/* повторяющийся селектор section-subtitle*/

.section-subtitle {
    width: 60%;
    font-size: 24px;
    margin: 20px auto 0;
    line-height: 34px;
    font-weight: normal;
    text-align: center;
}