.footer__column-link {
    color: white;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
    opacity: 1;
}

.footer__column-link:hover {
    opacity: 0.7;
    transition: opacity .4s;
}