.feynman__subtitle {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 51px;
    text-align: center;
    font-weight: normal;
    z-index: 123;
}